@use "./base.scss";

// put your custom CSS here!
/* ----------------- gray_text_styles.css ----------------- */
.gray-light {
  color: #aaaaaa;
}
.gray-medium {
  color: #888888;
}
.gray-faint {
  color: #cccccc;
}


/* ----------------- img.css ----------------- */
.img-caption {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  color: #888888;
  font-size: 0.95em;
}


/* ----------------- rank_colors.css ----------------- */
.bronze {
  color: #cd7f32;
  font-weight: bold;
}
.silver {
  color: #c0c0c0;
  font-weight: bold;
}
.gold {
  color: #ffd700;
  font-weight: bold;
}
.platinum {
  color: #e5e4e2;
  font-weight: bold;
}
.diamond {
  color: #b9f2ff;
  font-weight: bold;
}
.ruby {
  color: #e0115f;
  font-weight: bold;
}


/* ----------------- divider.css ----------------- */
.divider {
  border-top: 2px dashed #cccccc;
  margin: 48px 0 16px;
}


/* ----------------- dot.css ----------------- */
.bullet-dot::before {
  content: "· ";
  color: #000000;
  margin-right: 4px;
}
